//全域設定
* {
    margin: 0px;
    padding: 0px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

// 頁面設定
html,
body {
    height: 100%;
    width: 100%;
    background: rgb(196, 196, 196);
    height: 3600px;
}

.page {
    // height: 100%;
    width: 1024px;
    background: rgb(255, 255, 255);
    position: relative;
    padding: 50px 80px;
}

.shadow {
    // height: 100%;
    box-shadow: -10px 10px 30px #777;
    width: 1024px;
    border-radius: 20px;
    overflow: hidden;
    margin: 80px auto 80px auto;
}

// header
.header {
    display: flex;
    .lineCol {
        width: 10px;
        height: 131px;
        background: #000;
        margin-top: 12px;
        margin-right: 20px;
        // border-radius: 10px;
    }
}

#persPhoto {
    width: 600px;
    height: 600px;
    position: relative;
    top: -30px;
    left: -50px;
}

.hBlock {
    width: 500px;
    height: 500px;
    position: absolute;
    right: -80px;
    display: flex;
    margin-top: 200px;
}

h1,
h2 {
    font-family: 'Noto Serif TC', serif;
}

h1 {
    letter-spacing: 0.3em;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-weight: 400;
    margin-bottom: 60px;
    letter-spacing: 0.2em;
}

.icons {
    font-size: 0px;
    position: relative;
    left: -40px;
    height: 60px;
    .icon {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        width: 50px;
        padding: 5px 10px 5px 5px;
        transition: all .2s;
    }
    .A:hover {
        width: 55px;
        transform: translateX(-5%) translateY(-50%);
    }
    .B {
        left: 50px;
        &:hover {
            width: 55px;
            transform: translateX(-5%) translateY(-50%);
        }
    }
    .C {
        left: 100px;
        &:hover {
            width: 55px;
            transform: translateX(-5%) translateY(-50%);
        }
    }
}

//motto
.motto {
    transform: rotate(-10deg);
    z-index: 2;
    font-family: 'Noto Serif TC', serif;
    width: 1200px;
    margin: auto;
    position: relative;
    left: -170px;
    background: rgb(46, 49, 51);
    padding: 23px 0 45px 0;
    color: white;
    font-style: italic;
    p {
        display: inline-block;
        font-weight: 400;
        line-height: 2;
        position: relative;
        top: 3px;
        margin: 20px 0 auto;
        width: 100%;
        letter-spacing: 0.1em;
        font-size: 17px;
    }
    .p {
        display: inline-block;
        position: relative;
        left: 24%;
        top: -4px;
        width: 80%;
    }
}

.curlyBracesR,
.curlyBracesL {
    font-weight: 200;
    font-size: 60px;
}

.curlyBracesL {
    position: absolute;
    left: 210px;
}

.curlyBracesR {
    position: absolute;
    right: 210px;
}

// contact
.contact {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    width: 100%;
    position: relative;
    letter-spacing: 0.08em;
}

.information {
    position: absolute;
    top: 30px;
    right: 0px;
}

// main
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    height: 100%;
    h5 {
        letter-spacing: 0.08em;
        font-size: 20px;
        margin: 0px 0 20px 0;
        font-family: 'Noto Serif TC', serif;
        font-weight: 600;
        display: inline-block;
        position: absolute;
        background: #FFF;
        z-index: 1;
        &::before {
            content: "❯ ";
            font-size: 23px;
        }
        &::after {
            content: "　";
        }
    }
    .hr {
        display: inline-block;
        width: 100%;
        position: relative;
        // left: 10px;
        top: 2px;
        background: #000;
        height: 2px;
    }
    .lineCol {
        width: 4px;
        border-radius: 5px;
        background: #000;
        margin-top: 27px;
        margin-bottom: 86px;
    }
}

.article {
    width: 40%;
    margin-top: 20px;
    .card {
        margin-bottom: 80px;
        position: relative;
    }
    p {
        font-size: 16px;
        letter-spacing: 0.07em;
        line-height: 1.7;
        font-family: 'Noto Sans TC', sans-serif;
        margin-top: 40px;
        .bold {
            font-weight: 700;
            font-size: 14px;
            &::after {
                content: "　";
                font-size: 30px;
            }
        }
    }
    .skill {
        font-size: 14px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 15px;
        padding: 2px 8px;
        margin: 7px 3px;
    }
    .skillA {
        margin-top: 40px;
    }
}

.protfolio {
    font-size: 0;
    width: 40%;
    margin-top: 20px;
    // padding-bottom: 50px;
    .hr {
        top: 17px;
    }
    .br {
        height: 80px;
    }
    .proCard {
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 57px;
        box-shadow: -5px 7px 15px -5px #AAA;
    }
    .imgBox {
        height: 379px;
        overflow: hidden;
    }
    img {
        width: 346px;
        transition: all .5s;
        &:hover {
            transform: translateX(-5%) translateY(-3%);
            width: calc(346px * 1.1);
        }
    }
    .description {
        padding: 15px 20px;
        font-size: 15px;
        // color: white;
        background: #FFF;
        // height: 50px;
        width: 346px;
        font-family: 'Noto Sans TC';
        // font-weight: 400;
        text-align: center;
        letter-spacing: 0.05em;
        .title {
            font-weight: 600;
            margin: 5px 0 10px 0;
        }
        .content {
            text-align: justify;
            font-size: 15px;
            text-indent: 29px;
            padding: 0 10px;
            line-height: 1.7;
        }
    }
}

.elseProt {
    h5 {
        letter-spacing: 0.08em;
        font-size: 20px;
        margin: 0px 0 20px 0;
        font-family: 'Noto Serif TC', serif;
        font-weight: 600;
        display: inline-block;
        position: absolute;
        background: #FFF;
        z-index: 1;
        &::before {
            content: "❯ ";
            font-size: 23px;
        }
        &::after {
            content: "　";
        }
    }
    .hr {
        display: inline-block;
        width: 100%;
        position: relative;
        // left: 10px;
        top: 2px;
        background: #000;
        height: 2px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        justify-content: space-between;
        align-content: flex-start;
    }
    .imgBox {
        height: 274px;
        width: 250px;
        border-radius: 10px;
        margin-bottom: 40px;
        overflow: hidden;
        .elseProCard {
            width: 250px;
            width: 250px;
            transition: all .5s;
            &:hover {
                transform: translateX(-2.5%) translateY(-2.5%);
                width: calc(250px * 1.05);
            }
        }
    }
}