//全域設定
* {
    margin: 0px;
    padding: 0px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

// 頁面設定
html,
body {
    height: 100%;
    width: 100%;
    background: rgb(196, 196, 196);
}

.page {
    width: 1024px;
    background: rgb(255, 255, 255);
    position: relative;
    padding: 50px 80px;
    margin: auto;
    overflow: hidden;
}

.pageA {
    margin: 80px auto 0px auto;
}

.pageB {
    margin: 0px auto 80px auto;
}

.shadow {
    box-shadow: -10px 10px 30px #777;
    width: 1024px;
    margin: auto;
}

// header
.header {
    display: flex;
}

#persPhoto {
    // position: absolute;
    width: 600px;
    position: relative;
    top: -30px;
    left: -50px;
}

.hBlock {
    width: 500px;
    height: 500px;
    position: absolute;
    right: -80px;
    display: flex;
    margin-top: 200px;
}

.lineCol {
    width: 10px;
    height: 131px;
    background: #000;
    margin-top: 12px;
    margin-right: 20px;
}

h1,
h2 {
    font-family: 'Noto Serif TC', serif;
}

h1 {
    letter-spacing: 0.3em;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-weight: 400;
    margin-bottom: 60px;
    letter-spacing: 0.2em;
}

.icons {
    position: relative;
    left: -33px;
}

.icon {
    width: 35px;
    margin-right: 10px;
}

//motto
.motto {
    // transform: rotate(-10deg);
    z-index: 2;
    font-family: 'Noto Serif TC', serif;
    width: 1024px;
    margin: auto;
    position: relative;
    // left: -40px;
    background: rgb(46, 49, 51);
    padding: 23px 0 45px 0;
    color: white;
    font-style: italic;
    p {
        display: inline-block;
        font-weight: 400;
        line-height: 2;
        position: relative;
        top: 3px;
        margin: 20px 0 auto;
        width: 100%;
        letter-spacing: 0.1em;
        font-size: 17px;
    }
    .p {
        display: inline-block;
        position: relative;
        left: 20%;
        top: -4px;
        width: 80%;
    }
}

.curlyBracesR,
.curlyBracesL {
    font-weight: 200;
    font-size: 60px;
}

.curlyBracesL {
    position: absolute;
    left: 130px;
}

.curlyBracesR {
    position: absolute;
    right: 130px;
}

// main
.main {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 40%;
    margin-top: 20px;
    .card {
        margin-bottom: 50px;
    }
    h5 {
        font-size: 20px;
        margin: 0px 0 20px 0;
    }
    p {
        letter-spacing: 0.07em;
        line-height: 1.7;
    }
}

.protfolio {
    width: 40%;
    margin-top: 20px;
}