@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #c4c4c4;
}

.page {
  width: 1024px;
  background: white;
  position: relative;
  padding: 50px 80px;
}

.shadow {
  -webkit-box-shadow: -10px 10px 30px #777;
          box-shadow: -10px 10px 30px #777;
  width: 1024px;
  border-radius: 20px;
  overflow: hidden;
  margin: 80px auto 80px auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .lineCol {
  width: 10px;
  height: 131px;
  background: #000;
  margin-top: 12px;
  margin-right: 20px;
}

#persPhoto {
  width: 600px;
  position: relative;
  top: -30px;
  left: -50px;
}

.hBlock {
  width: 500px;
  height: 500px;
  position: absolute;
  right: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

h1,
h2 {
  font-family: 'Noto Serif TC', serif;
}

h1 {
  letter-spacing: 0.3em;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-weight: 400;
  margin-bottom: 60px;
  letter-spacing: 0.2em;
}

.icons {
  font-size: 0px;
  position: relative;
  left: -40px;
  height: 60px;
}

.icons .icon {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 50px;
  padding: 5px 10px 5px 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.icons .A:hover {
  width: 55px;
  -webkit-transform: translateX(-5%) translateY(-50%);
          transform: translateX(-5%) translateY(-50%);
}

.icons .B {
  left: 50px;
}

.icons .B:hover {
  width: 55px;
  -webkit-transform: translateX(-5%) translateY(-50%);
          transform: translateX(-5%) translateY(-50%);
}

.icons .C {
  left: 100px;
}

.icons .C:hover {
  width: 55px;
  -webkit-transform: translateX(-5%) translateY(-50%);
          transform: translateX(-5%) translateY(-50%);
}

.motto {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 2;
  font-family: 'Noto Serif TC', serif;
  width: 1200px;
  margin: auto;
  position: relative;
  left: -170px;
  background: #2e3133;
  padding: 23px 0 45px 0;
  color: white;
  font-style: italic;
}

.motto p {
  display: inline-block;
  font-weight: 400;
  line-height: 2;
  position: relative;
  top: 3px;
  margin: 20px 0 auto;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 17px;
}

.motto .p {
  display: inline-block;
  position: relative;
  left: 24%;
  top: -4px;
  width: 80%;
}

.curlyBracesR,
.curlyBracesL {
  font-weight: 200;
  font-size: 60px;
}

.curlyBracesL {
  position: absolute;
  left: 210px;
}

.curlyBracesR {
  position: absolute;
  right: 210px;
}

.contact {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  width: 100%;
  position: relative;
  letter-spacing: 0.08em;
}

.information {
  position: absolute;
  top: 30px;
  right: 0px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
  height: 100%;
}

.main h5 {
  letter-spacing: 0.08em;
  font-size: 20px;
  margin: 0px 0 20px 0;
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  background: #FFF;
  z-index: 1;
}

.main h5::before {
  content: "❯ ";
  font-size: 23px;
}

.main h5::after {
  content: "　";
}

.main .hr {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 2px;
  background: #000;
  height: 2px;
}

.main .lineCol {
  width: 4px;
  border-radius: 5px;
  background: #000;
  margin-top: 27px;
  margin-bottom: 86px;
}

.article {
  width: 40%;
  margin-top: 20px;
}

.article .card {
  margin-bottom: 80px;
  position: relative;
}

.article p {
  font-size: 16px;
  letter-spacing: 0.07em;
  line-height: 1.7;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 40px;
}

.article p .bold {
  font-weight: 700;
  font-size: 14px;
}

.article p .bold::after {
  content: "　";
  font-size: 30px;
}

.article .skill {
  font-size: 14px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 15px;
  padding: 2px 8px;
  margin: 7px 3px;
}

.article .skillA {
  margin-top: 40px;
}

.protfolio {
  font-size: 0;
  width: 40%;
  margin-top: 20px;
}

.protfolio .hr {
  top: 17px;
}

.protfolio .br {
  height: 80px;
}

.protfolio .proCard {
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 57px;
  -webkit-box-shadow: -5px 7px 15px -5px #AAA;
          box-shadow: -5px 7px 15px -5px #AAA;
}

.protfolio .imgBox {
  height: 379px;
  overflow: hidden;
}

.protfolio img {
  width: 346px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.protfolio img:hover {
  -webkit-transform: translateX(-5%) translateY(-3%);
          transform: translateX(-5%) translateY(-3%);
  width: calc(346px * 1.1);
}

.protfolio .description {
  padding: 15px 20px;
  font-size: 15px;
  background: #FFF;
  width: 346px;
  font-family: 'Noto Sans TC';
  text-align: center;
  letter-spacing: 0.05em;
}

.protfolio .description .title {
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.protfolio .description .content {
  text-align: justify;
  font-size: 15px;
  text-indent: 29px;
  padding: 0 10px;
  line-height: 1.7;
}

.elseProt h5 {
  letter-spacing: 0.08em;
  font-size: 20px;
  margin: 0px 0 20px 0;
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  background: #FFF;
  z-index: 1;
}

.elseProt h5::before {
  content: "❯ ";
  font-size: 23px;
}

.elseProt h5::after {
  content: "　";
}

.elseProt .hr {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 2px;
  background: #000;
  height: 2px;
}

.elseProt .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.elseProt .imgBox {
  height: 274px;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

.elseProt .imgBox .elseProCard {
  width: 250px;
  width: 250px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.elseProt .imgBox .elseProCard:hover {
  -webkit-transform: translateX(-2.5%) translateY(-2.5%);
          transform: translateX(-2.5%) translateY(-2.5%);
  width: calc(250px * 1.05);
}
/*# sourceMappingURL=all.css.map */